div.Calendar {
  padding: 10px;
  height: 100%;
  flex: 1;
  border-right: 1px solid #000;
  & input {
    height: 30px;
    width: 180px;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
  }
  & ul.studyDateList {
    border: 1px solid #000;
    margin: 10px auto;
    padding: 10px;
    height: 90%;
    overflow: auto;
  }
  & ul.studyDateList::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 너비 */
  }

  & ul.studyDateList::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #8c9eb8; /* 스크롤바의 색상 */

    border-radius: 10px;
  }

  & ul.studyDateList::-webkit-scrollbar-track {
    background: rgba(215, 215, 215, 0.472); /*스크롤바 뒷 배경 색상*/
  }
}
